
body{
    margin:unset;
}

button {
    background-color: unset;
    border-style: unset;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}

h1.space {
    padding: 10%;
    padding-left: 5%;
}

h1.big-title {
    font-size: 40px;
    font-weight: 900;
    margin: unset;
    margin-right: 30px;
    display: none;
}

img {
    display: flex;
    max-width: 100%;
    flex: 100%;
}

button.btn.btn-sm.btn-primary {
    padding: 40px;
    background-color: #dfbd8e;
    border-style: unset;
    border-width: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin-left: 0;
    cursor: pointer;
}

.products {
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    align-items: start;
    align-content: start;
    justify-content: start;
    max-width: 1200px;
    flex-wrap:wrap;
}

.products :nth-child(1){
    border-top-style: unset;
}

.products :nth-child(2){
    border-top-style: unset;
}

.product {
    max-width: 50%;
    flex: 50%;
    position: relative;
    border-top-style: solid;
    border-color: white;
    border-width: 150px;
    color: black;
    text-align: left;
}

.product-title {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 50px;
}

.product-txt {
    margin-top: 50px;
    max-width: 500px;
}

.inner-product {
    padding: 5em;
    height: 800px;
}

.img-box {
    min-height: 500px;
    align-content: center;
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    /* flex: 100%; */
    height: auto;
    width: auto;
}

header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #dfbd8e;
    padding-top: 3%;
    padding-bottom: 3%;
}

.header-inner{
    max-width: 1200px;
    width: 100%;
    padding-left: 5em;
    display: flex;
    text-align: left;
    margin: auto;
    position: relative;
}

.cart {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    text-align: left;
    overflow: auto;
    max-width: 350px;
    width: 100%;
    padding: 5%;
    padding-bottom: unset;
    padding-top: unset;
}

.cart-inner{
    padding:5%;
}

.cart p{
    font-weight: 600;
    font-size: 20px;
}

.cart-open {
    display: flex;
    align-self: end;
    font-size: 40px;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 30px;
    overflow: auto;
}

.cart .cart-open{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10%;
}

.inner-cart {
    padding: 5%;
}

.cart img {
    max-width: 50%;
    padding: 5%;
    padding-left: unset;
    padding-bottom: 10%;
}

.footer-div{
    padding:10em
}

footer {
    text-align: center;
    padding: 5%;
}

@media screen and (max-width:1150px){

    .product{
        flex:100%;
        max-width: 100%;
    }

    .inner-product {
        height: auto;
        padding: 2em;
    }

    .product img{
        width: 100%;
        max-width: 500px;
    }

    button.btn.btn-sm.btn-primary{
        position: relative;
        margin-top:50px;
    }

    .img-box{
        min-height: unset;
    }

    .products :nth-child(2){
        border-top-style: solid;
        border-color:white;
    }

    .header-inner{
        padding-left:5px;
    }
}